@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bannerIcon {
        @apply w-16 h-16 bg-white bg-opacity-75 text-lightText text-xl inline-flex items-center justify-center rounded-md shadow-shadowOne hover:bg-opacity-60 hover:-translate-y-1 transition-all hover:text-black cursor-pointer duration-300;
    }
    .resumeLi {
        @apply w-full h-20 bg-white bg-opacity-75 text-xl text-lightText flex justify-center cursor-pointer hover:bg-opacity-60 duration-300 items-center border-[1px] rounded-none;
    }
    .bgOpacity {
        @apply bg-white bg-opacity-60;
    }
    .contactInput {
        @apply w-full h-12 rounded-lg border-b-[1px] border-b-gray-300 bg-[#e6e7e8] text-lightText px-4 active:outline-none focus-visible:outline-black outline-none focus-visible:border-b-transparent duration-300;
    }
    .contactTextArea {
        @apply w-full rounded-lg border-b-[1px] border-b-gray-300 bg-[#e6e7e8] text-lightText px-4 py-2 active:outline-none focus-visible:outline-black outline-none focus-visible:border-b-transparent duration-300 resize-none;
    }

    /* Add this rule to ensure text remains black on hover */
    .text-lightText:hover {
        color: #000000; /* Ensures text remains black on hover */
    }
}

.active {
    color: black;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
